.container {
    border: 1px black solid;
    width: 70vw;
    height: 75vh;
    margin: auto;
    background: rgb(63,94,251);
    background: linear-gradient(180deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}
