<div class="container px-3 py-3">
    <div class="row justify-content-center align-items-center">
        <div class="col-6 fw-light">
            <cities-input id="city" (text)="searchTextUpdate.next($event)" (select)="setGeoData($event)"
                (clearData)="clearAll()" [citiesList]="cities">
            </cities-input>
        </div>
        <div class="col-6 fw-light">
            <div>
                Latitude: <span class="border-bottom">{{latitude}}</span>
            </div>
            <div>
                Longitude: <span class="border-bottom">{{longitude}}</span>
            </div>
        </div>
    </div>
</div>