<label for="cityInput" class="form-label">Input city name</label>
<div class="input-group">
    <input
        placeholder="Start typing..."
        class="form-control"
        [(ngModel)]="city"
        (keyup)="text.emit(city)"
    >
    <button class="btn btn-outline-secondary" type="button" id="clear-button" (click)="clearInput()">X</button>
    <div 
        *ngIf="citiesList.length > 0"
        class="dropdown-list">
        <div class="row form-control border border-primary rounded" *ngFor="let city of citiesList" id={{city.id}} (click)="selectCity(city)">
            <span class="row city-name">{{city.name}}</span>
            <span class="row city-info">{{city.addInfo}}</span>
        </div>
    </div>
</div>