<div class="input-group">
    <input
        placeholder="Input city..."
        class="form-control rounded-0"
        [(ngModel)]="city"
        (keyup)="text.emit(city)"
    >
    <button
        class="btn btn-outline-secondary rounded-0"
        type="button"
        id="clear-button"
        (click)="clearInput()">X</button>
    <div 
        *ngIf="citiesList.length > 0"
        class="dropdown-list">
        <div 
            *ngFor="let city of citiesList; first as isFirst; last as isLast" id={{city.id}} (click)="selectCity(city)"
            class="dropdown-item border shadow-sm"
            [ngClass]="{
                'rounded-top': isFirst,
                'rounded-bottom': isLast
            }">
            <span class="city-name">{{city.name}}</span>
            <span class="city-info">{{city.addInfo}}</span>
        </div>
    </div>
</div>