<div class="container px-3 py-3">
    <ng-container *ngIf="!hideInfo; else noCity">
        <div class="row justify-content-start">
            <div class="col-4">
                <span class="fs-1 fw-light align-middle">
                    {{currentWeather.temperature.toFixed(0)}} C°
                </span>
                <hr class="text-primary">
                <span class="fs-2 fw-lighter align-middle">
                    {{currentWeather.weathercode | weatherConditions }}
                </span>
            </div>
        </div>
    </ng-container>
</div>

<ng-template #noCity>
    <div class="card-body fw-light">
        <div class="row">
            Select city first!
        </div>
    </div>
</ng-template>