<div class="container">
    <div class="card">
        <div class="card-body">
            <ng-container *ngIf="!hideInfo; else noCity">
                <div class="row">
                    <div class="col border rounded" *ngFor="let info of displayedData">
                        {{info.date}}
                        Max: {{info.max}} C°
                        Min: {{info.min}} C°
                        {{info.condition | weatherConditions }}
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>

<ng-template #noCity>
    <div class="card-body">
        <div class="row">
            Select city first!
        </div>
    </div>
</ng-template>